.link {
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 1rem;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.link:hover {
    background-color: #00628f;
}
