.menu-header {
    display: flex;
    font-size: 1.25rem;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: #004666;
}

.menu-navigation,
.menu-personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;

}

.nav ul {
    list-style: none;
    display: flex;
}
